server:
  port: 8080
  address: 0.0.0.0

spring:
  application:
    name: money-legal
  
  datasource:
    url: jdbc:mysql://localhost:3306/moneylegal_dev?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&createDatabaseIfNotExist=true
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        jdbc:
          time_zone: UTC
        globally_quoted_identifiers: false
  
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

jwt:
  secret: i+TaPsavc6K5ogoYGC432AdQBrDH3L4YCc2/odYywBu3WlpdO7f9F9hsAfG+0JWA8qHNb69Xy0kp4xGMkMokUQ==
  expiration: 900000

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    com.moneylegal: DEBUG
    org.springframework.security: DEBUG
